* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: fantasy;
}

.header {
	width: 100%;
	padding: 35px 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 35px;
}

.nav-item {
	background-color: #fff;
	padding: 10px 25px;
	border-radius: 15px;
	color: #333;
	backdrop-filter: 25px;

}

.logo {
	text-decoration: none;
	color: white;
	font-size: xx-large;
	font-family: fantasy, Helvetica, sans-serif;
}

.logo>span {
	color: #FEB700;
}

.hero {
	background: url('./assets/images/profile.jpeg'), rgba(0, 0, 0, 0.9);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	background-blend-mode: darken;
	position: relative;
}

.hero-container {
	/*  */
}

.hero-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	min-height: 75vh;

}

.hero-subheading {
	font-size: small;
	color: #FEB700;
	display: flex;
	align-items: center;
	gap: 10px;
}

.hero-heading {
	max-width: 670px;
	margin: 0 auto;
	margin-top: 25px;
	color: #f6f6f6;
	letter-spacing: 2px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bolder;
	font-size: 2.5rem;
	text-align: center;
}

.hero-heading>span {
	color: #FEB700;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
	margin-top: 30px;
	margin-bottom: 70px;
	height: max-content;
	display: flex;
	align-items: center;
	gap: 25px;
}

.hero-btn-1 {
	background-color: #FEB700;
	color: black;
	font-size: x-large;
	padding: 10px 25px;
	border-radius: 35px;
	text-decoration: none;
}

.hero-btn-2 {
	background-color: #333;
	color: #fff;
	font-size: x-large;
	padding: 10px 25px;
	border-radius: 35px;
	text-decoration: none;
	border: 0.05rem solid #f6f6f6;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.hero-bottom {
	margin-top: 30px;
	background: linear-gradient(0deg,#805f0c1c 0%, rgba(0, 0, 0, 0) 100%) no-repeat;
	width: 100%;
	min-height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	padding: 0 20px;
}


.hero-bottom p {
	z-index: 10 !important;
	opacity: 1 !important;
	color: #818181 !important;
	font-size: small;
}